body {
  background-color: rgb(155, 155, 228);
}
.important {
  text color: black;
  text align: center;
}
.photo {
  float: center;
  background-color: black;
  height: 10px;
  width: 10px;
  padding: 15px;
  align-items: center;
}
.boxing {
  padding: 6px;
  margin: 20px;
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
